@import url("https://fonts.googleapis.com/css?family=Inter:wght@200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-image: linear-gradient(90deg, #92e4cf, #A2D4D8);
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(141, 173, 169, 0.7);
  backdrop-filter: blur(10px);
  z-index: 10000000;
}
header div {
  margin: 0 40px;
}
header .text a {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
  font-size: 16px;
}
header .search_bar {
  display: flex;
  align-items: center;
  background-color: rgba(176, 211, 206, 0.5);
  border-radius: 30px;
}
header .search_bar #search_icon {
  width: 25px;
  margin: 0 10px 0 5px;
}
header .search_bar input {
  background-color: rgb(176, 211, 206);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px;
}
header .search_bar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-image: url(images/icon_x.png);
}
header .icons a {
  position: relative;
  margin: 3px;
  text-decoration: none;
}
header .icons a img {
  width: 30px;
}
header .icons a span {
  position: absolute;
  right: 0;
  z-index: 999;
  color: white;
  background-color: #6B8B87;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 13px;
  scale: 1.9;
}

.page_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.page_1 .logo {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.page_1 .seller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  border-radius: 35px;
  background-color: rgba(141, 173, 169, 0.5);
  backdrop-filter: blur(10px);
}
.page_1 .seller .account {
  display: flex;
  align-items: center;
}
.page_1 .seller .account .profile {
  width: 60px;
  height: 60px;
  background-color: rgba(141, 173, 169, 0.5);
  border-radius: 50%;
}
.page_1 .seller .account .profile img {
  width: 100%;
  border-radius: 50%;
}
.page_1 .seller .account .infos {
  padding: 0 20px 0 6px;
}
.page_1 .seller .account .infos span {
  font-size: 20px;
  font-weight: 600;
}
.page_1 .seller .account .infos .rate {
  display: flex;
  align-items: center;
}
.page_1 .seller .account .infos .rate p {
  margin-right: 3px;
}
.page_1 .seller .details {
  display: flex;
  align-items: center;
}
.page_1 .seller .details .middle {
  padding-right: 15px;
}
.page_1 .seller .details .interact {
  display: flex;
  flex-direction: column;
}
.page_1 .seller .details .interact .btns {
  display: flex;
}
.page_1 .seller .details .interact .btns div {
  display: flex;
  align-items: center;
  background-color: rgba(141, 173, 169, 0.5);
  margin-right: 5px;
  padding: 0 12px;
  border-radius: 50px;
  cursor: pointer;
}
.page_1 .seller .details .interact .btns div p {
  margin-left: 5px;
}
.page_1 .seller .details .interact .btns div:hover {
  background-color: rgba(141, 173, 169, 0.7);
}
.page_1 .seller .details .interact .btns .follow span {
  font-size: 20px;
}
.page_1 .seller .details .interact .btns .follow p {
  margin-left: 7px;
}
.page_1 .filter {
  display: flex;
  justify-content: space-between;
  width: 405px;
  background-color: rgba(141, 173, 169, 0.4);
  border-radius: 30px;
  margin-top: 15px;
  padding: 5px;
  font-size: 14px;
}
.page_1 .filter .fil {
  position: relative;
}
.page_1 .filter .fil .dropdown {
  display: flex;
  padding: 0 20px;
  cursor: pointer;
}
.page_1 .filter .fil .choice {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  padding: 10px 20px;
  background-image: linear-gradient(180deg, rgba(141, 173, 169, 0.1), rgba(141, 173, 169, 0.5));
  backdrop-filter: blur(20px);
  border-radius: 10px;
  z-index: 9999;
}
.page_1 .filter .fil .choice a {
  text-decoration: none;
  color: #000;
  margin: 5px 0;
  white-space: nowrap;
}
.page_1 .filter .fil:hover .choice {
  display: flex;
}
.page_1 .products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.page_1 .products .product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: rgba(141, 173, 169, 0.5);
  border-radius: 20px;
  text-decoration: none;
}
.page_1 .products .product .voucher {
  position: absolute;
  right: -10px;
  top: 25px;
  padding: 5px 10px;
  background-color: rgb(150, 185, 181);
  border-radius: 10px;
}
.page_1 .products .product .voucher p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
.page_1 .products .product .image img {
  width: 270px;
  height: 275px;
  border-radius: 13px;
}
.page_1 .ads {
  margin-top: 20px;
}

.text {
  text-align: start;
}
.text h3, .text span {
  font-size: 20px;
}
.text h3 {
  font-weight: 600;
  color: #000;
}
.text span, .text .sold {
  font-weight: bold;
  color: #6B8B87;
}
.text .sold {
  display: flex;
}
.text .sold p {
  margin-right: 5px;
}

.show_buy {
  padding: 70px 50px;
}
.show_buy p {
  font-weight: 500;
}
.show_buy .text h3, .show_buy .text span {
  font-size: 25px;
}
.show_buy .cancel {
  display: flex;
  justify-content: end;
}
.show_buy .cancel img {
  width: 20px;
  cursor: pointer;
}
.show_buy .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_buy .container .image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 50px;
}
.show_buy .container .image img {
  width: 700px;
  height: 761;
}
.show_buy .container .text {
  color: rgba(0, 0, 0, 0.5);
  width: 50%;
}
.show_buy .container .text .heading {
  display: flex;
}
.show_buy .container .text .heading h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.show_buy .container .text .com_btn {
  background-color: rgba(141, 173, 169, 0.5);
  padding: 2px 15px;
  border-radius: 30px;
  font-weight: 500;
  text-align: center;
  margin: 3px;
}
.show_buy .container .text .box {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.show_buy .container .text .box .inner {
  display: flex;
}
.show_buy .container .text .box .inner .core {
  display: flex;
  flex-direction: column;
  margin-right: 42px;
}
.show_buy .container .text .box .inner .fee {
  margin-bottom: 2px;
}
.show_buy .container .text .box .choice {
  padding: 10px 0;
}
.show_buy .container .text .box .choice #oz, .show_buy .container .text .box .choice #variant {
  display: flex;
  flex-wrap: wrap;
}
.show_buy .container .text .box .var h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.25);
}
.show_buy .container .text .wrapper {
  padding-left: 30px;
  width: 80%;
}
.show_buy .container .text .quantity {
  display: flex;
  flex-direction: row;
}
.show_buy .container .text .quantity .clin {
  margin-left: 40px;
}
.show_buy .container .text .quantity .clin .edit {
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: rgba(141, 173, 169, 0.5);
  box-shadow: 0 0 3px rgba(141, 173, 169, 0.7);
  border-radius: 50px;
}
.show_buy .container .text .quantity .clin .edit #quantity {
  margin: 0 20px;
}
.show_buy .container .text .quantity .clin .edit #minus, .show_buy .container .text .quantity .clin .edit #add {
  padding: 10px 15px;
  background-color: rgba(141, 173, 169, 0.5);
  box-shadow: 0 0 3px rgba(141, 173, 169, 0.7);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.show_buy .container .text .quantity .clin p {
  margin: 2px 5px;
}
.show_buy .container .text .quantity .clin p span {
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
}
.show_buy .container .text .quantity .clin #reset {
  text-decoration: underline;
  cursor: pointer;
}
.show_buy .container .text .cta {
  align-items: center;
}
.show_buy .container .text .cta .btns {
  display: flex;
}
.show_buy .container .text .cta .btns .btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(141, 173, 169, 0.6);
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}
.show_buy .container .text .cta .btns .btn img {
  margin-left: 5px;
}
.show_buy .container .text .cta .btns #buy {
  background-color: rgba(141, 173, 169, 0.5);
}
.show_buy .container .text .cta .btns #add_cart {
  background-color: transparent;
}
.show_buy .container .text .cta .total {
  margin-bottom: 5px;
}
.show_buy .container .text .cta .total span {
  font-size: 20px;
}
.show_buy #confirm_add {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(141, 173, 169, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
}
.show_buy #confirm_add img {
  padding: 10px;
  width: 40px;
}
.show_buy #confirm_add p {
  padding: 50px;
}

/*# sourceMappingURL=style.css.map */
